<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{% url 'index' %}" class="sidebar-logo">
            <h5>Health track </h5>
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                    <span>Dashboard</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{% url 'index8' %}"><i class="ri-circle-fill circle-icon text-danger-main w-auto"></i> Medical</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-menu-group-title">Patient</li>
   
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
                    <span>Patients</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{% url 'usersList' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Patient List</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'addUser' %}"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Add Patient</a>
                    </li>
                </ul>
            </li>            
        </ul>
    </div>
</aside>