{% extends '../layout/layout.html' %} 
    
{% block content %}
<div class="row gy-4">
    <div class="col-lg-4">
        <div class="user-grid-card position-relative border radius-16 overflow-hidden bg-base h-100">
            <img src="/static/images/user-list/background.jpg" alt="" class="w-100 object-fit-cover">
            <div class="pb-24 ms-16 mb-24 me-16  mt--100">
                <div class="text-center border border-top-0 border-start-0 border-end-0">
                    <img src="/static/images/user-list/user.png" alt="" class="border br-white border-width-2-px w-200-px h-200-px rounded-circle object-fit-cover">
                    <h6 class="mb-0 mt-16">{{patient.name}}</h6>
                    <span class="text-secondary-light mb-16">
                        {% if patient.sex == 1 %}
                            Male
                        {% else %}
                        Female
                        {% endif %}
                    
                    </span>
                </div>
                <div class="mt-24">
                    <h6 class="text-xl mb-16">Personal Info</h6>
                    <ul>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light">Full Name</span>
                            <span class="w-70 text-secondary-light fw-medium">: {{patient.name}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> Age</span>
                            <span class="w-70 text-secondary-light fw-medium">: {{ patient.age }}</span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> Sex </span>
                            <span class="w-70 text-secondary-light fw-medium">: {% if patient.sex == 1 %} Male {% else %} Female {% endif %} </span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> Patient ID</span>
                            <span class="w-70 text-secondary-light fw-medium">: {{ patient.patient_id }}</span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> Avg Blood Pressure </span>
                            <span class="w-70 text-secondary-light fw-medium">: {{ blood_pressure|stringformat:".2f" }} </span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> High Risk Probability </span>
                            <span class="w-70 text-secondary-light fw-medium">: {{ high_risk_probability|stringformat:".2f" }}% </span>
                        </li>

                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light">View Patient Vitals </span>
                            <button class="w-70 text-secondary-light fw-medium btn btn-outline-cyan-700">
                                 <a href="{% url 'patientVitals' patient.patient_id %}">View Vitals</a> 
                            </button>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card h-100">
            <div class="card-body p-24">
                <ul class="nav border-gradient-tab nav-pills mb-20 d-inline-flex" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link d-flex align-items-center px-24 active" id="pills-edit-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-edit-profile" type="button" role="tab" aria-controls="pills-edit-profile" aria-selected="true">
                            Edit Profile
                        </button>
                    </li>
                    
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-edit-profile" role="tabpanel" aria-labelledby="pills-edit-profile-tab" tabindex="0">
                        <h6 class="text-md text-primary-light mb-16">Profile Image</h6>
                        <!-- Upload Image Start -->
                        <div class="mb-24 mt-16">
                            <div class="avatar-upload">
                                <div class="avatar-edit position-absolute bottom-0 end-0 me-24 mt-16 z-1 cursor-pointer">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" hidden>
                                    
                                </div>
                                <div >
                                        <img src="/static/images/user-list/user.png" alt="Avatar" class="radius-8"> 
                                </div>
                            </div>
                        </div>
                        <!-- Upload Image End -->
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-20">
                                        <label for="name" class="form-label fw-semibold text-primary-light text-sm mb-8">Full Name <span class="text-danger-600">*</span></label>
                                        <input type="text" name="name" class="form-control radius-8" id="name" placeholder="Enter Full Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-20">
                                        <label for="email" class="form-label fw-semibold text-primary-light text-sm mb-8">Age <span class="text-danger-600">*</span></label>
                                        <input type="number" name="age" class="form-control radius-8" id="email" placeholder="Enter Age">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="mb-20">
                                        <label for="depart" class="form-label fw-semibold text-primary-light text-sm mb-8">Sex <span class="text-danger-600">*</span> </label>
                                        <select name="gender" class="form-control radius-8 form-select" id="depart">
                                            <option >Select Patient Sex </option>
                                            <option value="Male">Male </option>
                                            <option value="Female"> Female</option>
                                        </select>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <button type="button" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
    // ======================== Upload Image Start =====================
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#imageUpload').change(function () {
        readURL(this);
    });
    // ======================== Upload Image End =====================

    // ================== Password Show Hide Js Start ==========
    function initializePasswordToggle(toggleSelector) {
        $(toggleSelector).on('click', function () {
            $(this).toggleClass('ri-eye-off-line');
            var input = $($(this).attr('data-toggle'));
            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
            } else {
                input.attr('type', 'password');
            }
        });
    }
    // Call the function
    initializePasswordToggle('.toggle-password');
    // ========================= Password Show Hide Js End ===========================
</script>
{% endblock %}