{% extends '../layout/layout.html' %} 

{% block content %}


<div class="card h-100 p-0 radius-12">
    <div class="card-body p-24">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-10">
                <div class="card border">
                    <div class="card-body">
                        <h6 class="text-md text-primary-light mb-16">Profile Image</h6>

                        <!-- Upload Image Start -->
                        <div class="mb-24 mt-16">
                            <div class="avatar-upload">
                                <div class="avatar-edit position-absolute bottom-0 end-0 me-24 mt-16 z-1 cursor-pointer">
                                </div>
                                <div class="avatar-preview">
                                    <div id=""> 
                                        <img src="/static/images/user-list/user.png" alt="Avatar" class="radius-8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Upload Image End -->

                        <form action="" method="POST" class="form">
                            {% csrf_token %}
                            <div class="mb-20">
                                <label for="patient_id" class="form-label fw-semibold text-primary-light text-sm mb-8">Patient ID <span class="text-danger-600">*</span></label>
                                <input type="text" class="form-control radius-8" name="patient_id" id="patient_id" placeholder="Patient id eg (P001)">
                            </div>
                            <div class="mb-20">
                                <label for="name" class="form-label fw-semibold text-primary-light text-sm mb-8">Name of Patient <span class="text-danger-600">*</span></label>
                                <input type="text" class="form-control radius-8" name="name" id="name" placeholder="Enter Name of Patient">
                            </div>
                            <div class="mb-20">
                                <label for="number" class="form-label fw-semibold text-primary-light text-sm mb-8">age</label>
                                <input type="number" name="age" class="form-control radius-8" id="age" placeholder="Enter Patient Age ">
                            </div>
                            <div class="mb-20">
                                <label for="gender" class="form-label fw-semibold text-primary-light text-sm mb-8">Gender <span class="text-danger-600">*</span> </label>
                                <select class="form-control radius-8 form-select" name="sex" id="Gender">
                                    <option value="Male">Male </option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            
                            
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <button type="button" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}